body {
  background-color: #0284c7;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.image-slider,
.navigation-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image.big {
  min-width: 660px;
  min-height: 416px;
  display: flex;
  justify-content: center;
}
.image.big > img {
  max-width: 660px;
  max-height: 416px;
}

.image.small {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
}

.image.small > img{
    max-width: 50px;
    max-width: 50px;
}

.slide-left-button,
.slide-right-button {
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  color: #0d9488;
}

img.navigation:hover{
  transform: scale(1.2);
}

.highlight{
  transform: scale(1.2);
  border: 1px solid yellow;
}

.hidden {
  display: none;
}
